/*boutique*/
.boutton {
    align-self: center;
    background-color: white;
    padding : 2% ;
    font-size: 2rem;
    border: solid black ;
    text-decoration: none;
    color: black;
    margin-left: 40%;
    position: relative;
}

.infoloca {
    position: relative;
    margin-left: 7.5%;
    margin-top: 3%;
}

.histoire {
    margin-bottom: 9%;
    margin-right: 5%;
    margin-left: 2.5%;
    text-align: justify;
}

.infob {
    font-size: 1.5rem;
}

.bannierefin {
  width: 100%;
  height: 350px;
  overflow: hidden;
  background-color: lightgray;
  margin-top: 15%;
}

.bannierefin img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}










.propro {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
  gap: 5px;
  margin: 5em auto;
  width: 99%;
}

.carte {
  background-color: #f3f3f3;
  text-align: center;
  height: 40em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}


.carte img {
  height: 20em;
  width: 100%;            
  object-fit: contain;      
  margin: 0 auto;
}

.titrepro {
  margin-bottom: 3%;
}

.carte h4 {
  text-transform: uppercase;
  margin: 0.5em 0;
}

.propro a {
  font-size: 0.7rem;
  color: black;
  display: flex;
  margin-top: 20px;
  text-decoration: none;
  cursor: default;
  margin: 2%;
  justify-content: center;
}

.propro a:hover {
  color: #e52a16;
  font-weight: bold;
}
