/*boutique*/
.boutton {
    align-self: center;
    background-color: white;
    padding : 2% ;
    font-size: 2rem;
    border: solid black ;
    text-decoration: none;
    color: black;
    margin-left: 40%;
    position: relative;
}

.infoloca {
    position: relative;
    margin-left: 7.5%;
    margin-top: 3%;
}

.histoire {
    margin-bottom: 9%;
    margin-right: 5%;
    margin-left: 2.5%;
    text-align: justify;
}

.infob {
    font-size: 1.5rem;
}

.bannierefin {
  width: 100%;
  height: 350px;
  overflow: hidden;
  background-color: lightgray;
  margin-top: 15%;
}

.bannierefin img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


/*produit*/
 .carte {
  background-color: #f3f3f3;
  text-align: center;
  height: 30em;
  width: 70%;
 }

.propro {
  display: grid;
  grid-template-columns: 35% 35% 35%;
  justify-content: space-around;
  margin-left: 5em;
}

.carte img {
  height: 20em;
  width: 100%;            
  object-fit: contain;      
  display: block;
  margin: 0 auto;
}

.titrepro {
    margin-bottom: 3%;
}

.carte h4 {
  text-transform:uppercase;
}

.propro a {
  font-size: 0.7rem;
  color: black;
}