header {
    position: relative;
    padding: 20px 0;
    text-align: center;
}

.logoheader {
    width: 100px;
    height: auto;
}

.icones {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.cart, .user {
    font-size: 30px;
    color: #d4443c;
    cursor: pointer;
}

.deco {
  margin-top: 1rem;
  width: 100%;
  padding: 0.8rem;
  background-color: #d4443c;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deco:hover {
    background-color: #8e342f;
}
