.icones {
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
    margin-right: 2%;
    gap: 15px;
    align-items: center;
}

.cart, .user {
    font-size: 25px;
    color: #e4322e;
    cursor: pointer;
}

.deco-button {
    color: #e4322e;
    border: 1px solid #e4322e;
    padding: 6px 12px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Goudy Old Style', serif;
    cursor: pointer;
}
